<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"      lang="">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body style="background-color: #FFFFF0;">
<div th:replace="header"></div>
<h1 style="text-align: center; white-space: pre-line;">
    Вітаємо!
    Тут можна ознайомитися з інформацією про тренування які ми надаємо
</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-white bg-warning mb-3">
    <div class="card-header">Акція</div>
    <div class="card-body">
        <h4 class="card-title">Перші 3 тренування з знижкою -50%</h4>
        <p class="card-text">Зверніться до адміністратора для отримання знижки</p>
    </div>
</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/волейб.jpg" alt="Зображення" class="img-fluid" style="max-width: 100%; height: 400px;">
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 100%; height: 400px;">
                <div class="card-header">Командні ігри</div>
                <div class="card-body">
                    <h4 class="card-title">Волейбол</h4>
                    <p class="card-text">Волейбол є популярним командним видом спорту, який розвиває координацію рухів, силу, швидкість та витривалість і є прекрасною розвагою в компанії друзів. У нас ви можете записатися на групове тренування з професійним тренером. Волейбольне тренування в спортзалі є відмінною можливістю покращити свої навички гри, зміцнити м'язи та підвищити загальну фізичну форму.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="max-width: 100%; height: 400px;">
                <div class="card-header">Групове тренування для 3-4 людей</div>
                <div class="card-body">
                    <h4 class="card-title">Йога</h4>
                <p class="card-text">Йога - це древня практика, яка поєднує фізичні вправи, дихальні техніки та медитацію. Вона сприяє розслабленню, зміцненню тіла і покращенню фізичної та психічної гармонії. У нашому спортзалі ми пропонуємо заняття з йоги для всіх рівнів під керівництвом досвідчених інструкторів. Незалежно від вашого досвіду у йозі, ви зможете знайти підходящий клас для себе. Наші заняття допоможуть вам поліпшити гнучкість, сили та зосередженість, а також забезпечать релаксацію і відчуття внутрішньої гармонії. Також є окремі класи для вагітних, які допоможуть краще відчувати своє тіло і полегшити пологи.</p>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/його.jpg" alt="Зображення" class="img-fluid" style="max-width: 100%; height: 400px;">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/плав.jpg" alt="Зображення" class="img-fluid" style="max-width: 100%; height: 400px;">
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-info mb-3" style="max-width: 100%; height: 400px;">
                <div class="card-header">Групове тренування для 5-7 людей</div>
                <div class="card-body">
                    <h4 class="card-title">Плавання</h4>
                    <p class="card-text">Плавання є надзвичайно корисним видом спорту для фізичного та психологічного здоров'я. У нашому спортзалі ми пропонуємо групові заняття для кількох людей з плавання під керівництвом професійного тренера, що зробить ваше тренування ефективним і безпечним. Тренування проходитимуть у великому басейні з 7 доріжками. Наші тренування допоможуть вам покращити техніку плавання, зміцнити м'язи та підвищити загальну фізичну форму. Будьте впевнені, що тренування в нашому спортзалі принесуть вам задоволення і стануть зміцнять ваше здоров'я. Також у нас є окремі тренування для вагітних, в спеціальному теплому басейні, що допоможе жінці зняти навантаження зі спини.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/баскет.jpg" alt="Зображення" class="img-fluid" style="max-width: 100%; height: 400px;">
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 100%; height: 400px;">
                <div class="card-header">Командні ігри</div>
                <div class="card-body">
                    <h4 class="card-title">Баскетбол</h4>
                    <p class="card-text">Баскетбол - це захоплююча командна гра, яка вимагає високої фізичної підготовки, координації рухів та стратегічного мислення. У нашому спортзалі ми пропонуємо тренування з баскетболу у великому професійному залі. Гра в баскетбол також сприяє зміцненню м'язів, покращенню координації та розвитку спортивного духу. З нашими досвідченими тренерами ви вдосконалите свої навички в цій грі, і отримаєте задоволення від командних змагань.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="max-width: 100%; height: 400px;">
                <div class="card-header">Групове тренування для 2 людей</div>
                <div class="card-body">
                    <h4 class="card-title">Теніс</h4>
                    <p class="card-text">Теніс - це захоплюючий і динамічний ігровий вид спорту, який розвиває швидкість, точність та витривалість. У нашому спортзалі ми пропонуємо тренування з тенісу для гравців усіх рівнів. Наші кваліфіковані тренери допоможуть вам полюбити цей чудовий вид спорту. Теніс сприяє зміцненню м'язів, покращенню координації та реакції, а також сприяє здоровому способу життя та розвитку ментальних навичок. Приєднуйтесь</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/тен.jpg" alt="Зображення" class="img-fluid" style="max-width: 100%; height: 400px;">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/футб.jpg" alt="Зображення" class="img-fluid" style="max-width: 100%; height: 400px;">
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-info mb-3" style="max-width: 100%; height: 400px;">
                <div class="card-header">Командні ігри</div>
                <div class="card-body">
                    <h4 class="card-title">Футбол</h4>
                    <p class="card-text">Футбол - це найпопулярніший спорт у світі, який збирає мільйони фанатів. У нашому спортзалі ми пропонуємо тренування з футболу для дітей та дорослих. Влітку тренування проходитимуть на вулиці, а в холодну пору року у просторому залі. Ви зможете вдосконалити свої навички удару, пасу, та стратегічного мислення під керівництвом наших професійних тренерів. Гра в футбол допомагає поліпшити фізичну форму, збільшити витривалість та спритність, а також розвиває командний дух та співпрацю.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
    <div id="map-container">
        <h1 style="font-size: 24px;">Ми чекаємо тебе за адресою!</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.751484460705!2d30.514414075591667!3d50.44572948770493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce57b084e711%3A0x4199924c0502b430!2z0YPQuy4g0JHQvtCz0LTQsNC90LAg0KXQvNC10LvRjNC90LjRhtC60L7Qs9C-LCAxMCwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1684782814458!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
            <div class="card text-white bg-warning mb-3" style="max-width: 32rem;height: 300px;margin-top:40px;">
                <div class="card-header">Наші контакти</div>
                <div class="card-body">
                    <h4 class="card-title">Звертайтеся до нас за:</h4>
                    <p class="card-text" style="white-space: pre-line;">
                        Адресою: Київ, вулиця Богдана Хмельницького 10.<br>
                        Телефон: +380994029611.<br>
                        Email: inna.fisyuk.0203@gmail.com
                    </p>
                </div>
            </div>
    </div>
</div>
</body>
</html>