<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body style="background-color: #FFFFF0;">
<div th:replace="header"></div>
<div class="col-md-offset-2">
<h1>Список зареєстрованих користувачів</h1>
    <a th:href="@{/registrations/create/workout/{workout_id}(workout_id=${workout_id})}">Створити</a>
<table>
    <thead>
    <tr>
        <th>Номер</th>
        <th>Користувач</th>
        <th>Тренування</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="registration, i : ${registrationsList}">
        <td th:text="${i.index + 1}"></td>
        <td th:text="${registration.getUser().getLastName()}"></td>
        <td th:text="${registration.getWorkouts().getName()}"></td>
        <td><a th:href="@{|/registrations/${registration.id}/delete/workout/${registration.getWorkouts().getId()}}">Видалити</a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>